@keyframes float {
    0% {
      transform: translateY(0px);
      filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.3));
    }
    50% {
      transform: translateY(-20px); 
      filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.2));
    }
    100% {
      transform: translateY(0px);
      filter: drop-shadow(0 15px 10px rgba(0, 0, 0, 0.3));
    }
}

@keyframes fadeInVar {
    0% {
        opacity: 0;
        translate: -8%;
    }
    100% {
        opacity: 1;
        translate: 0px;
    }
}

.solid-logo {
    flex-grow: 0.5 ;
    width: 50%;
    max-width: 900px;
    // position: absolute;
    // top: -30px;
    // right: 0px;
    // bottom: 0px;
    // left: -121px;
    opacity: 0;
    // margin: auto;
    // width: 157%;
    // translate: -150px -100px;
    // transform: rotateZ(30deg);
    z-index: 1;
    // animation-delay: 4s;
    // transform:scale(0.5);
    animation: 
        fadeInVar 2s ease-out 3.7s forwards,
        float 3s ease-in-out infinite;
}


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width: 1200px) {
    
        .solid-logo {
            // position: absolute;
            // width: 25%;
            flex: 0 1 450px;
            max-width: 450px;
            padding-top: 10%;
            // margin: auto; 
        }


}