.page {
    width: 100%;
    height: 100%;
    position: absolute;
}
  
.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #8EF4FF;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 75px;
  font-size: 1.125em;
  font-family: 'La Belle Aurore', cursive;
  transition: opacity 1s ease;
  
}

.hidden-tags{
  opacity: 0;
}

.show-tags{
  opacity: 1;
}

.bottom-tags {
  margin-bottom: 20px;
}

.container {
  width: 80%;
  will-change: contents;
  height: 85%;
  position: relative;
  opacity: 0;
  top: 10%;
  left: 140px;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 500ms;
  
}

.container.contact-page,
.container.about-page,
.container.portfolio-page {
    @keyframes fadeIn {
      from {opacity: 0}
      to {opacity: 1}
    }
  
  
    h1 {
      font-size: 3.34em;
      font-family: 'Coolvetica';
      color: #8EF4FF;
      font-weight: 400;
      margin-top: 10px;
      position: relative;
      margin-bottom: 40px;
      white-space: nowrap;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #8EF4FF;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #8EF4FF;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 1em;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;
      // opacity: 0;
      &:nth-of-type(1) {
        animation-delay: 600ms;
      }
      &:nth-of-type(2) {
        animation-delay: 700ms;
      }
      &:nth-of-type(3) {
        animation-delay: 800ms;
      }
    }
    #point{
      font-size: 0.9em;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: fadeIn 1s forwards;
      opacity: 0;
      &:nth-of-type(1) {
        animation-delay: 2s;
      }
      &:nth-of-type(2) {
        animation-delay: 2.5s;
      }
      &:nth-of-type(3) {
        animation-delay: 3s;
      }
    }

  // .text-zone {
  //   position: absolute;
  //   left: 10%;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   width: 35%;
  //   vertical-align: middle;
  //   display: table-cell;
  //   max-height: 90%;
  // }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
  
}
// @media screen and (max-width: 1200px){
//   .show-tags {
//     opacity: 0;
//   }
//   .image-box {
//     flex: 1 1;
//   }
// }

@media screen and (max-width: 1200px){
  
  .page {
    position: initial;
  }
  // .container {
  //   width: 80%;
  //   will-change: contents;
  //   height: 85%;
  //   position: relative;
  //   opacity: 0;
  //   top: 10%;
  //   left: 15%;
  //   z-index: 1;
  //   transform-style: preserve-3d;
  //   animation: fadeIn 1s forwards;
  //   animation-delay: 1s;
    
  // }
  .container {
    // position: initial;
    // height: auto;
    // min-height: auto;
    

    &.home-page{
      left: 0%;
      width: 100%;
      padding: 0%;
      margin: 0;
    }
    &.contact-page,
    &.about-page,
    &.portfolio-page {
      left: 0%;
      width: 100%;
      padding: 10%;
      box-sizing: border-box;
      
      // .text-zone {
      //   position: initial;
      //   transform: none;
      //   width: 100%;
      //   display: block;
      //   padding: 50px;
      //   box-sizing: border-box;
      // }
      // h1.page-title {
      //   margin-``: 50px;
      //   margin-top: 50px;
      // }
      
      .images-container {
        justify-content: space-around;
        padding: 2.5%;
        gap: 15px;
      }
      .image-box {
        flex: 1 1;
        margin: 1%;
        max-height: 200px;
        min-width: 200px;
        max-width: 300px;
      }
      

      
      
    }
    
  }
  
}
@media screen and (max-height: 750px) and (min-width: 1201px){
  .container.contact-page, .container.about-page, .container.portfolio-page{
    align-items: flex-start;

  }
  .tags {
    opacity: 0;
    
  }
  .container {
    overflow-y:scroll;

    h1 {
      left: 10px;
    }

  }

  .top-tags {
    opacity: 0;
  }
  
}


  
 






