
.container.contact-page{
    display: grid;
    grid-template: 1fr 1fr  / 1fr 1.5fr;
    align-items: center;
    width: calc(100vw - 140px);
    .text-zone{
        grid-column: 1;
        grid-row: 1/ 3;
        width: 95%;
        justify-self: flex-start;
    }

}
.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;


        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }

        }
    }
    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 1em;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    textarea{
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 1em;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        color: #8EF4FF;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #8EF4FF;
        float: left;
        border-radius: 4px;
        &:hover {
            background: #8EF4FF;
            color: #333;

        }
    }
    
}

.info-map {
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 1.07em;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
    
    span {
        font-size: 1em;
        display: block;
        padding-top: 20px;
        color: #8EF4FF;
    }
}

.map-wrap {
    grid-column: 2;
    grid-row: 1/ 3;
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 100%;
    height: 106%;
    margin-bottom: 70px;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1200px) {
    .container.contact-page{
        .text-zone {
            grid-column: 1/ 3; 
            grid-row: 1;
        }
        .map-wrap {
            grid-column: 1 / 3;
            grid-row: 2;
              margin: 0;
              width: 100%;
              height: 400px;
        }
        
        .info-map {
            display: none;
        }
    }
    
    
}